@import '../variables.scss';

.Announcement {
  .Header {
    background: var(--color-main-darkaccent);
    flex-wrap: wrap;
    border-bottom: solid 0.2em var(--color-main-lightaccent);

    > .link,
    > .separator {
      position: relative;
      margin: 0.5em;
      height: 2em;
    }

    > .link {
      white-space: nowrap;
      font-size: calc(0.8vw + 0.5em);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }

    > .separator {
      width: 0.1em;
      background: var(--lightgray);
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
    }
  }
}

@media only screen and (max-width: 40em) {
  .Announcement {
    .Header {
      flex-direction: column;

      > .separator {
        display: none;
      }

      > .link {
        font-size: 1em;
        margin: 0;
      }
    }
  }
}